[core]
	editor = vim
	autocrlf = false
	filemode = false
[http]
	sslverify = false
	lowSpeedLimit = 0
	lowSpeedTime = 999999
[credential]
	helper = cache --timeout 86400
[log]
	decorate = auto
[pull]
	ff = only
