[core]
	editor = vim
	autocrlf = input
	filemode = false
[http]
	sslverify = false
	lowSpeedLimit = 0
	lowSpeedTime = 999999
[credential]
	helper = cache --timeout 86400
[log]
	decorate = auto
[pull]
	ff = only
[commit]
        gpgsign = true
[sendemail]
    smtpServer = smtp.gmail.com
    smtpServerPort = 587
    smtpEncryption = tls
    # smtpUser = MY_EMAIL@gmail.com
    # smtpPass = PASSWORD
